# Physics-Based Simulator Synthetic Dataset

Source Reference: https://github.com/Azure/AI-PredictiveMaintenance/blob/master/src/Notebooks/DataGeneration.ipynb

In [1]:
import pandas as pd

df = pd.read_parquet('../data/simulator/telemetry/telemetry-20170515-000000.parquet')
df

/tmp/ipykernel_24676/4120330779.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,speed_desired,ambient_temperature,ambient_pressure,speed,temperature,pressure,machineID
timestamp,,,,,,,
2017-05-15 00:48:00,1000,19.92,100.93,587.07,23.33,236.98,M_0031
2017-05-15 00:48:01,1000,20.09,100.91,879.46,27.65,564.25,M_0031
2017-05-15 00:48:02,1000,19.92,101.05,1031.74,32.77,861.95,M_0031
2017-05-15 00:48:03,1000,20.04,101.10,1100.26,38.82,1084.90,M_0031
2017-05-15 00:48:04,1000,19.93,101.04,1145.01,45.97,1290.41,M_0031
...,...,...,...,...,...,...,...
2017-05-15 00:50:55,0,20.04,100.93,-3.50,138.59,73.42,M_0975
2017-05-15 00:50:56,0,19.93,101.07,-1.09,138.56,86.14,M_0975
2017-05-15 00:50:57,0,20.05,101.00,1.20,138.68,100.44,M_0975
2017-05-15 00:50:58,0,19.99,100.92,4.56,138.57,96.21,M_0975
2017-05-15 00:50:59,0,19.90,100.97,2.32,138.60,73.27,M_0975

In [2]:
df = pd.read_parquet('../data/simulator/logs/logs.parquet')
df

                    machineID     level   code
timestamp
2017-06-09 07:51:13    M_0108  CRITICAL     F1
2017-06-09 14:59:34    M_0084  CRITICAL     F2
2017-06-09 14:00:00    M_0108      INFO  fixed
2017-06-09 16:00:00    M_0084      INFO  fixed
2017-06-11 11:52:04    M_0955  CRITICAL     F1
...                       ...       ...    ...
2017-08-14 07:00:00    M_0702      INFO  fixed
2017-08-14 09:00:00    M_0497      INFO  fixed
2017-08-14 11:02:26    M_0435  CRITICAL     F2
2017-08-14 15:27:39    M_0380  CRITICAL     F2
2017-08-14 15:00:00    M_0795      INFO  fixed

[537 rows x 3 columns]