# Physics-Based Simulator Synthetic Dataset

Source Reference: https://github.com/Azure/AI-PredictiveMaintenance/blob/master/src/Notebooks/DataGeneration.ipynb

In [3]:
import pandas as pd

tel_df = pd.read_parquet('../data/simulator/telemetry/telemetry-20170515-000000.parquet')
tel_df

,speed_desired,ambient_temperature,ambient_pressure,speed,temperature,pressure,machineID
timestamp,,,,,,,
2017-05-15 00:48:00,1000,19.92,100.93,587.07,23.33,236.98,M_0031
2017-05-15 00:48:01,1000,20.09,100.91,879.46,27.65,564.25,M_0031
2017-05-15 00:48:02,1000,19.92,101.05,1031.74,32.77,861.95,M_0031
2017-05-15 00:48:03,1000,20.04,101.10,1100.26,38.82,1084.90,M_0031
2017-05-15 00:48:04,1000,19.93,101.04,1145.01,45.97,1290.41,M_0031
...,...,...,...,...,...,...,...
2017-05-15 00:50:55,0,20.04,100.93,-3.50,138.59,73.42,M_0975
2017-05-15 00:50:56,0,19.93,101.07,-1.09,138.56,86.14,M_0975
2017-05-15 00:50:57,0,20.05,101.00,1.20,138.68,100.44,M_0975
2017-05-15 00:50:58,0,19.99,100.92,4.56,138.57,96.21,M_0975
2017-05-15 00:50:59,0,19.90,100.97,2.32,138.60,73.27,M_0975

In [14]:
tel_df.machineID.unique()

array(['M_0031', 'M_0033', 'M_0035', 'M_0068', 'M_0129', 'M_0146',
       'M_0157', 'M_0163', 'M_0241', 'M_0370', 'M_0372', 'M_0375',
       'M_0379', 'M_0380', 'M_0392', 'M_0415', 'M_0448', 'M_0460',
       'M_0525', 'M_0580', 'M_0619', 'M_0622', 'M_0660', 'M_0694',
       'M_0695', 'M_0767', 'M_0797', 'M_0800', 'M_0820', 'M_0869',
       'M_0971', 'M_0972', 'M_0975'], dtype=object)

In [4]:
logs_df = pd.read_parquet('../data/simulator/logs/logs.parquet')
logs_df

                    machineID     level   code
timestamp
2017-06-09 07:51:13    M_0108  CRITICAL     F1
2017-06-09 14:59:34    M_0084  CRITICAL     F2
2017-06-09 14:00:00    M_0108      INFO  fixed
2017-06-09 16:00:00    M_0084      INFO  fixed
2017-06-11 11:52:04    M_0955  CRITICAL     F1
...                       ...       ...    ...
2017-08-14 07:00:00    M_0702      INFO  fixed
2017-08-14 09:00:00    M_0497      INFO  fixed
2017-08-14 11:02:26    M_0435  CRITICAL     F2
2017-08-14 15:27:39    M_0380  CRITICAL     F2
2017-08-14 15:00:00    M_0795      INFO  fixed

[537 rows x 3 columns]

In [15]:
logs_df.machineID.unique()

array(['M_0108', 'M_0084', 'M_0955', 'M_0628', 'M_0136', 'M_0552',
       'M_0340', 'M_0142', 'M_0172', 'M_0683', 'M_0259', 'M_0889',
       'M_0014', 'M_0111', 'M_0007', 'M_0776', 'M_0725', 'M_0874',
       'M_0789', 'M_0426', 'M_0942', 'M_0062', 'M_0316', 'M_0105',
       'M_0392', 'M_0367', 'M_0314', 'M_0925', 'M_0355', 'M_0532',
       'M_0209', 'M_0151', 'M_0502', 'M_0586', 'M_0183', 'M_0243',
       'M_0323', 'M_0201', 'M_0423', 'M_0516', 'M_0760', 'M_0938',
       'M_0781', 'M_0788', 'M_0458', 'M_0344', 'M_0745', 'M_0154',
       'M_0824', 'M_0854', 'M_0274', 'M_0571', 'M_0508', 'M_0675',
       'M_0966', 'M_0124', 'M_0369', 'M_0655', 'M_0282', 'M_0420',
       'M_0385', 'M_0398', 'M_0951', 'M_0480', 'M_0748', 'M_0601',
       'M_0913', 'M_0960', 'M_0327', 'M_0723', 'M_0345', 'M_0225',
       'M_0635', 'M_0922', 'M_0948', 'M_0001', 'M_0751', 'M_0286',
       'M_0671', 'M_0047', 'M_0330', 'M_0918', 'M_0687', 'M_0787',
       'M_0926', 'M_0069', 'M_0329', 'M_0364', 'M_0680', 'M_0572',
       'M_0795', 'M_0156', 'M_0076', 'M_0455', 'M_0774', 'M_0010',
       'M_0086', 'M_0161', 'M_0995', 'M_0998', 'M_0196', 'M_0512',
       'M_0570', 'M_0275', 'M_0956', 'M_0831', 'M_0484', 'M_0862',
       'M_0679', 'M_0135', 'M_0333', 'M_0838', 'M_0029', 'M_0856',
       'M_0762', 'M_0092', 'M_0976', 'M_0089', 'M_0667', 'M_0973',
       'M_0341', 'M_0643', 'M_0933', 'M_0829', 'M_0936', 'M_0639',
       'M_0359', 'M_0308', 'M_0812', 'M_0216', 'M_0193', 'M_0361',
       'M_0477', 'M_0039', 'M_0668', 'M_0326', 'M_0600', 'M_0204',
       'M_0551', 'M_0482', 'M_0148', 'M_0005', 'M_0221', 'M_0914',
       'M_0363', 'M_0046', 'M_0627', 'M_0967', 'M_0410', 'M_0020',
       'M_0790', 'M_0504', 'M_0989', 'M_0133', 'M_0232', 'M_0157',
       'M_0112', 'M_0301', 'M_0752', 'M_0104', 'M_0969', 'M_0985',
       'M_0700', 'M_0235', 'M_0917', 'M_0806', 'M_0692', 'M_0624',
       'M_0019', 'M_0562', 'M_0240', 'M_0434', 'M_0612', 'M_0236',
       'M_0194', 'M_0343', 'M_0695', 'M_0968', 'M_0547', 'M_0596',
       'M_0903', 'M_0529', 'M_0984', 'M_0254', 'M_0834', 'M_0722',
       'M_0685', 'M_0857', 'M_0867', 'M_0579', 'M_0468', 'M_0091',
       'M_0006', 'M_0634', 'M_0271', 'M_0242', 'M_0022', 'M_0611',
       'M_0120', 'M_0952', 'M_0049', 'M_0696', 'M_0753', 'M_0247',
       'M_0178', 'M_0958', 'M_0277', 'M_0110', 'M_0422', 'M_0065',
       'M_0060', 'M_0472', 'M_0127', 'M_0743', 'M_0399', 'M_0233',
       'M_0642', 'M_0438', 'M_0174', 'M_0866', 'M_0882', 'M_0149',
       'M_0555', 'M_0432', 'M_0730', 'M_0711', 'M_0661', 'M_0353',
       'M_0623', 'M_0941', 'M_0928', 'M_0526', 'M_0645', 'M_0703',
       'M_0155', 'M_0207', 'M_0550', 'M_0783', 'M_0846', 'M_0749',
       'M_0203', 'M_0214', 'M_0543', 'M_0109', 'M_0185', 'M_0454',
       'M_0677', 'M_0171', 'M_0304', 'M_0417', 'M_0150', 'M_0125',
       'M_0439', 'M_0146', 'M_0548', 'M_0130', 'M_0702', 'M_0919',
       'M_0833', 'M_0647', 'M_0497', 'M_0283', 'M_0024', 'M_0339',
       'M_0435', 'M_0380'], dtype=object)

In [13]:
logs_df[logs_df['level'] == 'CRITICAL'].sort_values(by='timestamp', ascending=False)

                    machineID     level code
timestamp
2017-08-14 15:27:39    M_0380  CRITICAL   F2
2017-08-14 11:02:26    M_0435  CRITICAL   F2
2017-08-14 05:40:10    M_0795  CRITICAL   F1
2017-08-14 02:42:47    M_0339  CRITICAL   F1
2017-08-13 23:56:49    M_0024  CRITICAL   F1
...                       ...       ...  ...
2017-06-14 05:08:32    M_0136  CRITICAL   F1
2017-06-13 22:06:32    M_0628  CRITICAL   F1
2017-06-11 11:52:04    M_0955  CRITICAL   F1
2017-06-09 14:59:34    M_0084  CRITICAL   F2
2017-06-09 07:51:13    M_0108  CRITICAL   F1

[272 rows x 3 columns]